@media only screen and (min-width: 768px) {

    .main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    }

    .pageDiv{
      display: flex;
      flex-direction: column;
      background-color: aliceblue;
      align-items: center;
      overflow: hidden;
    }

    .firstSection{
      display: flex;
      flex-direction: column;
      background-image: url(/banner-bg.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-top: 7px;
      height: 98vh;
      width: 98.5vw;
    }


    .homeBanner{
      display: flex;
      flex-direction: row;
    }

    .txtInfo{
      display: flex;
      flex-direction: column;
      margin-left: 20vw;
      margin-top: 15vh;
      font-size: 35px;

    }
    .txtInfo>*{
      margin: 15px 0px;
    }

    .secondSection{
      height: 80vh;
      width: 98.5vw;
      background-color: rgb(77, 59, 77);
    }

    .infoSection{
      display: flex;
      flex-direction: column;
      width: 98.5vw;
      padding: 20vh 10vw 26vh 10vw;
    }

    .infoSection>h3{
      font-size: 35px;
      margin-bottom: 6vh;
      text-align: center;
    }

    .infoTabBar{
      display: flex;
      flex-direction: row;
    }

    .infoTab{
      background-color: rgb(64,80,186);
      border-radius: 9px;
      padding: 30px 20px 30px 30px;
      width: 15vw;
      margin: 5vh 2vw;
    }

    .infoTab>h3{
      margin-bottom: 10px;
    }

    .thirdSection{
      background-color: rgb(191,58,175);
      width: 98.5vw;
      height: 80vh;
    }

    .sponsorSection>h3{
      text-align: center;
      font-size: 35px;
      margin-top: 10vh;
    }

    .sponsors{
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap-reverse;
      flex-direction: column;
      justify-content: space-evenly;

    }

    .sponsors>div{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 50px;
    }
  

    .fifthSection{
      background-color: rgb(34,40,49);
      width: 98.5vw;
      height: 50vh;
    }

    .contactSection{
      display: flex;
      flex-direction: column;
      padding: 10vh 20vw ;
    }

    .contactTop{
      display: flex;
      flex-direction: row;
      width: 98.5vw;
      height: 30vh;
    }

    .contactBottom{
      height: 20vh;
      text-align: center;
    }

    .contactInfo{
      width: 40%;
      justify-content: center;
    }

    .contactInfo>h3{
      margin-bottom: 25px;
    }


    .socialIcons{
      display: flex;
      flex-direction: row;
      margin-left: 45px;
      margin-top: 80px;
    }

    .iconDiv{
      padding: 18px 20px;
      border-radius: 40px;
      background-color: rgba(0, 0, 0, 0.25);
      margin-right: 15px;
    }

    .icons{
      width: 25px;
      height: 25px;
    }

    .mailIcon{
      filter: invert(1);
      width: 25px;
      height: 25px;
    }

    .rightSec{
      display: inline-flex;
      margin: 25px 0px;
    }

    .rightSec>img{
      margin-right: 20px;
    }
  }

@media only screen and (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pageDiv{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    align-items: center;
    overflow: hidden;
  }

  .firstSection{
    display: flex;
    flex-direction: column;
    background-image: url(/banner-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 7px;
    height: 98vh;
    width: 100vw;
  }


  .homeBanner{
    display: flex;
    flex-direction: row;
  }

  .txtInfo{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 15vh;
    font-size: 25px;

  }
  .txtInfo>*{
    margin: 15px 0px;
  }

  .secondSection{
    height: 130vh;
    width: 100vw;
    background-color: rgb(77, 59, 77);
  }

  .infoSection{
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 80px 10vw 26vh 10vw;
  }

  .infoSection>h3{
    font-size: 35px;
    margin-bottom: 30px;
    text-align: center;
  }

  .infoTabBar{
    display: flex;
    flex-direction: column;
  }

  .infoTab{
    background-color: rgb(64,80,186);
    border-radius: 9px;
    padding: 30px 20px 30px 30px;
    margin: 5vh 2vw;
  }

  .infoTab>h3{
    margin-bottom: 10px;
  }

  .thirdSection{
    background-color: rgb(191,58,175);
    width: 100vw;
    height: 80vh;
  }

  .sponsorSection>h3{
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
  }






  .fifthSection{
    background-color: rgb(34,40,49);
    width: 100vw;
    height: 50vh;
  }

  .contactSection{
    display: flex;
    flex-direction: column;
    padding: 60px 0px;
    justify-content: center;
  }

  .contactTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 30vh;
  }

  .contactBottom{
    height: 20vh;
    padding: 0px 10vw;
    text-align: center;
  }

  .contactBtn{
    display: none;
  }

  .contactInfo{
    width: 70;
  }

  .contactInfo>h3{
    margin-bottom: 25px;
  }


  .socialIcons{
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .iconDiv{
    padding: 18px 20px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.25);
    margin-right: 15px;
  }

  .icons{
    width: 25px;
    height: 25px;
  }

  .mailIcon{
    filter: invert(1);
    width: 25px;
    height: 25px;
  }

  .rightSec{
    display: inline-flex;
    margin: 25px 0px;
  }

  .rightSec>img{
    margin-right: 20px;
  }


}